body {
  text-align: center;
  background-color: orange;
}

#memory-game {
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  margin:  5%;
  color: black;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

#high-score {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 3px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.purple{
  background-color: purple;
}
.pink{
  background-color: pink;
}
.chocolate{
  background-color: chocolate;
}
.blue {
  background-color: blue;
}
.cyan {
  background-color: cyan;
}
.darkkhaki {
  background-color: darkkhaki;
}
.gold {
  background-color: gold;
}
.magenta {
  background-color: magenta;
}
.mediumspringgreen {
  background-color: mediumspringgreen;
}
.orangered {
  background-color: orangered;
}
.paleturquoise {
  background-color: paleturquoise;
}
.yellowgreen {
  background-color: yellowgreen;
}

.yellow {
  background-color: yellow;
}
.grey {
  background-color: grey;
}

.pressed {
  box-shadow: 0 0 30px red;
  background-color: black;
}
